@import "components/harp-bourbon/scss/bourbon";
@import "settings/typography";
$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;
@import "components/base/base";
@import "components/harp-neat/scss/neat";


@import "components/_buttons.scss";
@import "components/_typography.scss";
@import "components/_layout.scss";
@import "components/_header.scss";


@import "components/_cards.scss";
@import "components/_hero.scss";
@import "components/_seasons.scss";
@import "components/_contact.scss";

body{
	background: #fff;
	margin: 0;
}
