@import "components/harp-bourbon/scss/bourbon";
@import "settings/typography";
$visual-grid: false;
$visual-grid-color: rgb(86,211,255);
$visual-grid-index: front;
$visual-grid-opacity: 0.1;
@import "components/base/base";
@import "components/harp-neat/scss/neat";

@import "components/_buttons.scss";
@import "components/_typography.scss";
@import "components/_layout.scss";
@import "components/_header.scss";

body{
	background: #fff;
	margin: 0;
}