@import "components/harp-bourbon/scss/bourbon";
@import "settings/typography";
$visual-grid: true;
@import "components/base/base";
@import "components/harp-neat/scss/neat";

@import "components/_buttons.scss";
@import "components/_typography.scss";
@import "components/_layout.scss";
@import "components/_header.scss";

body{
	background: #fff;
	color: #444343;
	margin: 0;
}