div(class="hero left" style="background-image: url('/images/homepage-hero.png')")
	.hero-inner
		.hero-copy
			.container
				h1 Me contacter

	.overlay

.wrapper.gmap
		.floater
			h4 Husky Voice
			p
				| adresse, tel


include ../partials/_contact.jade
include ../partials/_footer.jade





