
.stephanie{
	.photo{
		text-align: center;
		margin-top: -250px;
		position: relative;
	}
	img{
		border-radius: 150px;
		border: 12px solid white;
		margin: 0 auto;
	}
	.content{
		h2{
			text-align: center;
			margin-top: 1em;
			margin-bottom: 1em;
		}
	}
}