doctype
html
	head
		
		include ../partials/_head.jade

		link(rel="stylesheet" href="/style/pages/homepage.css")

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		
	body.homepage
		include ../partials/_menu.jade
		!= yield