div(class="hero large" style="background-image: url('/images/homepage-hero.png')")
	.hero-inner
		.hero-copy
			.container
				h1 Start new Laponie Adventure
				p
					| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.
				p
					| We are located in the north of sweden, near Kiruna.
				p
					| We are only 6 km away from ice Hotel.

				a(class="button white border" href="/") Discover Tour

.wrapper.center
	.container
		h2 you can choose your best adventure
		p
			| lorem ipsum dolor sit atmet


div(class="hero left" style="background-image: url('/images/homepage-hero.png')")
	.hero-inner
		.hero-copy
			.container
				h2 Adventure tour
				.time 2 jours et 3 nuits
				p
					| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.
				p
					| We are located in the north of sweden, near Kiruna.
				p
					| We are only 6 km away from ice Hotel.

				a(class="button pink soft" href="/") Adventure Tour
	.overlay

div(class="hero mushing" style="background-image: url('/images/homepage-hero.png')")
	.hero-inner
		.hero-copy
			.container
				h2 Mushing school
				.time 2 jours et 3 nuits
				p
					| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.
				p
					| We are located in the north of sweden, near Kiruna.
				p
					| We are only 6 km away from ice Hotel.

				a(class="button pink soft" href="/") Adventure Tour
	.overlay

.wrapper.pink.soft
	.container
		.cards
			.card
				.card-image
					img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png")
				.card-header
					h3 Adventure
				.card-content
					p
						| lorem ipsum dolor sit atmet
					a(class="button white" href="/") Adventure Tour
			.card
				.card-image
					img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png")
				.card-header
					h3 Adventure
				.card-content
					p
						| lorem ipsum dolor sit atmet
					a(class="button white" href="/") Adventure Tour
			.card
				.card-image
					img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png")
				.card-header
					h3 Adventure
				.card-content
					p
						| lorem ipsum dolor sit atmet
					a(class="button white" href="/") Adventure Tour

.wrapper.pink.fade
	.container
		.seasons
			.season
				h3 Autumn
				p
					| lorem ipsum dolor sit atmet
				a(class="button pink hard" href="/") Autumn season
			.season
				h3 Autumn
				p
					| lorem ipsum dolor sit atmet
				a(class="button pink hard" href="/") Summer season

include ../partials/_aboutme.jade
include ../partials/_contact.jade
include ../partials/_footer.jade





