.hero
	.hero-inner
		.hero-copy
			.container
				h1 Start new Laponie Adventure
				p
					| A few reasons why this product is worth using, who it's for and why they need it.
				a(class="button white border" href="/") Discover Tour
.wrapper
	.container
		h2 you can choose your best adventure