div(class="hero left" style="background-image: url('/images/homepage-hero.png')")
	.hero-inner
		.hero-copy
			.container
				h1 Winter tours

				p
					| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.

	.overlay

.wrapper
	.container
		p
			| lorem ipsum dolor sit atmet


div(class="hero left" style="background-image: url('/images/homepage-hero.png')")
	.hero-inner
		.hero-copy
			.container
				h2 Adventure tour
				.time 2 jours et 3 nuits
				p
					| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.
				p
					| We are located in the north of sweden, near Kiruna.
				p
					| We are only 6 km away from ice Hotel.

				a(class="button pink soft" href="/") Adventure Tour
	.overlay



div(class="hero card right")
	div(class="hero-inner"  style="background-image: url('/images/homepage-hero.png')")
	.hero-copy
		h2 Morning coffee tour
		.time 2 jours et 3 nuits
		p
			| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.
		p
			| We are located in the north of sweden, near Kiruna.
		p
			| We are only 6 km away from ice Hotel.

		a(class="button pink soft" href="/") Morning coffee tour

div(class="hero card left")
	.hero-copy	
		h2 Morning coffee tour
		.time 2 jours et 3 nuits
		p
			| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.
		p
			| We are located in the north of sweden, near Kiruna.
		p
			| We are only 6 km away from ice Hotel.

		a(class="button pink soft" href="/") Morning coffee tour

	div(class="hero-inner"  style="background-image: url('/images/homepage-hero.png')")

div(class="hero card right")
	div(class="hero-inner"  style="background-image: url('/images/homepage-hero.png')")
	.hero-copy
		h2 Morning coffee tour
		.time 2 jours et 3 nuits
		p
			| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.
		p
			| We are located in the north of sweden, near Kiruna.
		p
			| We are only 6 km away from ice Hotel.

		a(class="button pink soft" href="/") Morning coffee tour


include ../partials/_aboutme.jade
include ../partials/_contact.jade
include ../partials/_footer.jade





