@mixin button($background-color, $text-color) {
  -webkit-font-smoothing: antialiased;
  background-color: $background-color;
  border-radius: $base-border-radius;
  color: $text-color;
  display: inline-block;
  font-size: $base-font-size * 1.2;
  font-weight: bold;
  line-height: 1;
  padding: 1.4em 2.8em;
  text-decoration: none;
  text-transform: uppercase;
  @include transition (all 2.0s ease);
  
  &:focus{outline: none;}

  &:hover {
    background-color: darken( $background-color , 10% );
    color: $text-color;
    @include transition-duration(.2s);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.border{
    color: $text-color;
    background: transparent;
    border: 2px solid $background-color;
    &:hover{
      background: transparent;
      border-color: darken( $background-color , 10% );
    }
  }

}

.button,
button,
input[type="submit"]{
	&.grey{
		@include button( #ddd, grey );
	}
	&.pink{
		@include button( pink, white );
	}
  &.white{
    @include button( white, $gray );
    &.border{
      @include button( white, white );
    }
  }
  &.pink.soft{
    @include button( $soft-pink, white );
    &.border{
      @include button( $soft-pink, $soft-pink );
    }
  }
	&.pink.hard{
		@include button( $hard-pink, white );
	}
}