// #######################################
// Contact
// #######################################
// - 50 50
// #######################################

.contact{

	padding: 0 2em;

	.col-50{	
		@include media($large-screen) {
			@include span-columns(6);
			@include omega(2n);
		}
		.social{
			a{
				color: white;
				font-size: 3em;
				padding: 0 .3em;
			}
			.tripadvizor{
				font-size: 4em;
			}
			a:hover{
				color: $soft-pink;
			}
		}
	}

	@include media($large-screen) {
		padding: 0em 0;
	}

	textarea{
		height: 150px;
	}

}