
// #######################################
// Layout
// #######################################


.container {
	@include outer-container;
	padding: 0 20px;
	@include media($xlarge-screen) {
		padding: 0;
	}
}

.wrapper{
	.container{
		padding: 6em 0;
	}
	&.pink{
		&.soft{
				background: $soft-pink;
				color: white;
		}
		&.fade{
			background: $fade-pink;
			color: $dark-pink;
		}
	}
	&.gray{
		background: $gray;
		color: white;
	}
	&.center{
		text-align: center;
	}
	&.presse{
		background: $soft-pink;
		color: white;
	}
}

footer{
	background: darken($gray, 10%);
	color: white;
	text-align: right;
	a{
		color: white;
	}
}