
// #######################################
// Layout
// #######################################


.container {
	@include outer-container;
	padding: 0 20px;
	@include media($xlarge-screen) {
		padding: 0;
	}
}

.wrapper{
  .container{
    padding: 6em 0;
  }
  &.pink{
    &.soft{
      background: $soft-pink;
      color: white;
    }
  }
  &.center{
    text-align: center;
  }
}