div(class="hero left" style="background-image: url('/images/homepage-hero.png')")
	.hero-inner
		.hero-copy
			.container
				h1 Winter tours

				p
					| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.

	.overlay

.wrapper.tour
	.container
		.offer
			.time 2 jours et 3 nuits
			h2 750€
			p
				| conditions

			a(class="button pink soft" href="#") Réserver
		.travel
			h2 Une experience immersive au coeur de la laponie
			p
				| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.
			p
				| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.
			p
				| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.
			p
				| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.
			p
				| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.
			p
				| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.


.wrapper.gallery
	.container
		.carousel
			div
				img(src="https://d13yacurqjgara.cloudfront.net/users/347241/screenshots/1759762/thy_sidemenu_day_night_k_1x.png")
			div
				img(src="https://d13yacurqjgara.cloudfront.net/users/347241/screenshots/1759762/thy_sidemenu_day_night_k_1x.png")
			div
				img(src="https://d13yacurqjgara.cloudfront.net/users/347241/screenshots/1759762/thy_sidemenu_day_night_k_1x.png")
			div
				img(src="https://d13yacurqjgara.cloudfront.net/users/347241/screenshots/1759762/thy_sidemenu_day_night_k_1x.png")

include ../partials/_aboutme.jade


.wrapper.pink.soft
	.container
		.cards
			.card
				.card-image
					img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png")
				.card-header
					h3 Adventure
				.card-content
					p
						| lorem ipsum dolor sit atmet
					a(class="button white" href="/") Adventure Tour
			.card
				.card-image
					img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png")
				.card-header
					h3 Adventure
				.card-content
					p
						| lorem ipsum dolor sit atmet
					a(class="button white" href="/") Adventure Tour
			.card
				.card-image
					img(src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png")
				.card-header
					h3 Adventure
				.card-content
					p
						| lorem ipsum dolor sit atmet
					a(class="button white" href="/") Adventure Tour


include ../partials/_contact.jade
include ../partials/_footer.jade





