div(class="hero center aboutme" style="background-image: url('/images/homepage-hero.png')")
	.hero-inner
		.hero-copy
			.container
				h1 Stéphanie Peluchon
				p
					| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.

	.overlay

.wrapper.stephanie
	.container
		.photo
			img(src="https://d13yacurqjgara.cloudfront.net/users/347241/screenshots/1759762/thy_sidemenu_day_night_k_1x.png")
		.content
			h2 Le pays de son coeur
			.col50
				p
					| lorem ipsum
			.col50
				p
					| lorem ipsum


.wrapper.presse
	.container
		h3 Quand la presse parle d'Husky Voice
		.col50
			p
				| lorem ipsum
			p
				| lorem ipsum
		.col50
			p
				| lorem ipsum
				

include ../partials/_aboutme.jade
include ../partials/_contact.jade
include ../partials/_footer.jade





