div(class="hero about" style="background-image: url('/images/stephanie-hero.png')")
	.hero-inner
		.hero-copy
			.container
				h4 About Me
				p
					| Husky Voice offer sleds dog tours with a maximum of 4 guests per tour.

				a(class="button pink soft border" href="/") About Me