.wrapper.gray
	.container
		.contact
			.col-50
				h5 Husky Voice
				p
					| Lorem ipsum
				.social
					a(href="/")
						span(class="socicon socicon-facebook")
					a(href="/" class="tripadvizor")
						span(class="socicon socicon-tripadvizor")
					a(href="/")
						span(class="socicon socicon-twitter")
			.col-50
				form
					label Name
					input(type="text")
					label Email
					input(type="text")
					label Subject
					input(type="text")
					label Message
					textarea
					button(type="submit" class="pink soft") Send