header.navigation
	.navigation-wrapper
		a.logo(href='javascript:void(0)')
			img(alt='Logo Image', src='https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png')
		a#js-mobile-menu.navigation-menu-button(href='') MENU
		.nav
			ul#navigation-menu
				li.nav-link
					a(href='/homepage/') Homepage
				li.nav-link
					a(href='/tours/') Tours
				li.nav-link
					a(href='/winter-tours/') Winter tours
				li.nav-link
					a(href='/tour/') Tour
				li.nav-link
					a(href='/mushing/') Mushing School
				li.nav-link
					a(href='/about/') About Me
